# Exercise 3. - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises


### Step 1. Import the necessary libraries

In [49]:
import pandas as pd
import seaborn as sns
from dfply import *

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [48]:
url=('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks = pd.read_csv(url)
drinks >>head(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN

### Step 4. Which continent drinks more beer on average?

In [44]:
drinks >>group_by('continent') >>summarize(total_beer_servings=X.beer_servings.mean()) >>arrange(desc(X.total_beer_servings))

  continent  total_beer_servings
0        AF            61.471698
1        AS            37.045455
2        EU           193.777778
3        OC            89.687500
4        SA           175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [45]:


d = drinks.groupby('continent').agg({
    'wine_servings': 'describe'
})
d

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [46]:
drinks.groupby('continent').mean()

TypeError: agg function failed [how->mean,dtype->object]

### Step 7. Print the median alcohol consumption per continent for every column

In [50]:
gb=drinks.groupby('continent').median()

TypeError: agg function failed [how->median,dtype->object]

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [51]:
drinks.groupby('continent').agg(['mean', 'median', 'min', 'max'])

TypeError: agg function failed [how->mean,dtype->object]