# Exercise 3. - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
from dfply import *

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [16]:
url=('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks = pd.read_csv(url)
drinks >>head(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN

### Step 4. Which continent drinks more beer on average?

In [12]:
drinks >>group_by('continent') >>summarize(total_beer_servings=X.beer_servings.sum()) >>arrange(desc(X.total_beer_servings)) >>head()

  continent  total_beer_servings
0        AF                 3258
1        AS                 1630
2        EU                 8720
3        OC                 1435
4        SA                 2101

### Step 5. For each continent print the statistics for wine consumption.

In [15]:
drinks >> group_by('continent')>>summarize(total_wine_servings=X.wine_servings.sum())>>arrange(desc(X.total_wine_servings))

  continent  total_wine_servings
0        AF                  862
1        AS                  399
2        EU                 6400
3        OC                  570
4        SA                  749

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame